extends ../layouts/layout.pug
block main-content
    //- include 1 patials bằng cách như dưới đây
    //- search
    //- search
    //- Form Bên trao từ thiện
    include ../patials/form-bentraotuthien.pug





