.form-tu-thien{
  padding: 0 1.5rem;
  background: #959595; 
  .row{
    align-items: center;
  }
  .title,
    .footer-form{
        position: relative;
        a{
            text-decoration: none;
            color: black;
            background-color: #fff;
            padding: 8px 15px;
            border-radius: 15px;
            text-transform: uppercase;
            font-size: 16px;
            font-family: sans-serif;
            font-weight: bold;
        }
        .text-left{
            margin-left: 7rem;
        }
        .text-right{
            margin-right: 4rem;
        }
        h1{
            position: absolute;
            width: 100%;
            background-color: #005100;
            color: white;
            padding: 22px 0;
            text-align: center;
            font-family: sans-serif;
            font-size: 26px;
        }
        .icon-right{
            left: 3.5rem;
            top: 2.5rem;
            border-radius: 0 6px 6px 0;
            &::before{
                content: '';
                position: absolute;
                right: 2px;
                top: 98%;
                border-style: solid;
                border-width: 34px 33px 38px 0px;
                border-color: #072601 transparent transparent;
            }
        }
        .icon-left{
            right: 3.5rem;
            bottom: 2.5rem;
            border-radius: 6px 0 0 6px;
            display: flex;
            justify-content: space-between;
            &::before{
                content: '';
                position: absolute;
                left: 2px;
                bottom: 98%;
                border-style: solid;
                border-width: 34px 0px 38px 33px;
                border-color: transparent transparent #072601;
            }
        }
    }
  .form_traotuthien{
    // background-image: url('../.././dist/assets/images/traotuthien/bgtraott2.jpg');
    background-size: cover;
    padding: 4rem 3rem;
    background-attachment: fixed;
    .form-group{
      margin: 2rem 0;
    }
    .form_traott{
      padding: 140px 3rem 180px;
      background: white;
      .custom-select-tt{
        width: 100%;
        border: 1px solid #ccc;
        color: #666;
        background-color: #fff;
        padding: .5rem 1.5rem;
        font-style: 1.6rem;
      }
      span{
        font-weight: bold;
      }
      .re-require{
        position: relative;
      }
      .require{
        position: absolute;
        right: 0;
        color: red;
        transform: translateY(-50%);
        top: 50%;
      }
      .label-bg{
        width: 85%;
          padding: 1rem 1rem;
          position: relative;
          font-size: 1.8rem;
        &:after{
          content: "";
          position: absolute;
          top: 0;
          height: 100%;
          left: 100%;
          border-top: 24px solid transparent;
          border-bottom: 24px solid transparent;
          border-left: 20px solid transparent;
        }
      }
      .text-1{
        background-color: #ffd3ea;
        &:after{
          content: "";
          border-left: 20px solid #ffd3ea;
        }
      }
      .text-2{
        background-color: #d4ffd4;
        &:after{
          content: "";
          border-left: 20px solid #d4ffd4;
        }
      }
      .text-3{
        background-color: #b0eaff;
        &:after{
          content: "";
          border-left: 20px solid #b0eaff;
          ;
        }
      }
      .input-df{
        width: 100%;
        color: #666;
        border: 1px solid #ccc;
        background-color: #fff;
        padding: .5rem 1.5rem;
        font-style: italic;
        font-size: 1.6rem;
      }
    }
  }
}
.text-center{
  text-align: center;
}
.mg-y3{
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
.px-3{
  padding-left: 15px;
  padding-right: 15px;
}

@media only screen and (max-width: 991px){
  .form-group{
   .label-bg{
     width: 100% !important;
     margin: 3rem 0 !important;
     text-align: center;
   }
  }
  .label-bg{
    &:after{
      border-top: 12px solid transparent !important;
      border-left: 20px solid transparent !important;
      left: 50% !important;
      border-right: 20px solid transparent !important;
      top: 100% !important;
      margin-left: -25px !important;
    }
  }
  .text-3{
    &:after{
      border-top: 12px solid #b0eaff !important;
    }
  }
  .text-1{
    &:after{
      border-top: 12px solid #ffd3ea !important;
    }
  }
  .text-2{
    &:after{
      border-top: 12px solid #d4ffd4 !important;
    }
  }
}
.choose-file{
  position: relative;
  margin: .5rem 0;
  input{
    width: 100%;
    z-index: 2;
    opacity: 0;
    cursor: pointer;
  }
  a{
    text-align: right;
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-decoration: none;
    pointer-events: none;
    img{
      height: 30px;
      width: 30px;
    }
  }

  }

.align-baseline{
  align-items: baseline !important;
}



@media (max-width: 768px){
  .icon-right{
    left: 0 !important;
    border-radius: 0 !important;
    &::before{
        display: none;
    }
}
.footer-form{
    .icon-left{
        right: 0 !important;
        border-radius: 0 !important;
        flex-direction: column;
        justify-content: space-between;
        &::before{
            display: none;
        }
        a{
            margin: auto !important;
        }
        .text-right{
            margin-top: 7px !important;
        }
    }
}
}
@media (max-width: 576px){
  .form_traott{
    padding: 140px 0rem 180px !important;
  }
  .form-tu-thien {
    background: white !important;
  }
  .form-tu-thien .form_traotuthien{
    padding: 4rem 0rem !important;
  }
}

.tab-content#myTabContent{
  border: 1px solid #ccc;
  // background: #ccc;
  -webkit-box-shadow: 11px 15px 13px -3px rgba(120,120,120,1);
  -moz-box-shadow: 11px 15px 13px -3px rgba(120,120,120,1);
  box-shadow: 11px 15px 13px -3px rgba(120,120,120,1);
  padding: 0 2rem;
  background: #fdb6b6;
  margin-bottom: 4rem !important;
}
.nav-tabs .nav-link{
  background: #eeeeee;
}