/*----Fonts----*/
@font-face {
    font-family: "Open";
    src: url("../fonts/OpenSans-Regular.ttf");
}
@font-face {
    font-family: "NeoBold";
    src: url(../fonts/UTM-Neo-Sans-IntelBold.ttf);
}
@font-face {
    font-family: "NeoRegu";
    src: url(../fonts/UTM-Neo-Sans-Intel.ttf);
}
@font-face {
    font-family: "Habano";
    src: url(../fonts/UTM-Habano.ttf);
}
@font-face {
    font-family: "Isadora";
    src: url(../fonts/UTM-IsadoraR.ttf);
}
@font-face {
    font-family: "Cookie";
    src: url(../fonts/utm-cookies.ttf);
}
@font-face {
    font-family: "Myriad";
    src: url(../fonts/MYRIADPRO-REGULAR.OTF);
}
@font-face {
    font-family: "MyriadBold";
    src: url(../fonts/MYRIADPRO-BOLD.OTF);
}
@font-face {
    font-family: "Caviar";
    src: url(../fonts/UTM-Caviar.ttf);
}
@font-face{
    font-family: "Mautim";
    src: url(../fonts/MauTim2.TTF);
}
@font-face{
    font-family: "Primary";
    src: url(../fonts/KGPrimaryItalics.ttf);
}
/*----Color----*/

$green: #00a859;
$pink: #ec268f;
$dark-pink: #d81460;
$darker-pink: #8a0438;
$text-black: #282828;
$bg-grey: #ebebeb;
$bg-dark-grey: #959595;
$text-footer: #898a8a;
$blue: #00afef;
$dark-blue: #0464ae;
$light-blue: #def6ff;
$yellow: #fffb94;

$form-1: #ffd3ea;
$form-2: #b0eaff;
$form-3: #d4ffd4;


.main {
    background-color: $bg-dark-grey;
    padding: 40px 150px;
}
#form-trao,
#form-nhan {
    border-radius: 25px;
    position: relative;
    background-color: #fff;
    .row {
        position: relative;
        .require {
        position: absolute;
        right: 0;
        color: red;
        }
    }
    .title,
    .footer-form{
        position: relative;
        a{
            text-decoration: none;
            color: black;
            background-color: #fff;
            padding: 8px 15px;
            border-radius: 15px;
            text-transform: uppercase;
            font-size: 16px;
            font-family: sans-serif;
            font-weight: bold;
        }
        .text-left{
            margin-left: 7rem;
        }
        .text-right{
            margin-right: 4rem;
        }
        h1{
            position: absolute;
            width: 100%;
            background-color: #005100;
            color: white;
            padding: 22px 0;
            text-align: center;
            font-family: sans-serif;
            font-size: 26px;
        }
        .icon-right{
            left: 3.5rem;
            top: 2.5rem;
            border-radius: 0 6px 6px 0;
            &::before{
                content: '';
                position: absolute;
                right: 2px;
                top: 98%;
                border-style: solid;
                border-width: 34px 33px 38px 0px;
                border-color: #072601 transparent transparent;
            }
        }
        .icon-left{
            right: 3.5rem;
            bottom: 2.5rem;
            border-radius: 6px 0 0 6px;
            display: flex;
            justify-content: space-between;
            &::before{
                content: '';
                position: absolute;
                left: 2px;
                bottom: 98%;
                border-style: solid;
                border-width: 34px 0px 38px 33px;
                border-color: transparent transparent #072601;
            }
        }
    }
    .content-form {
        font-family: "NeoRegu";
        padding: 140px 40px;
        }
    .form-item {
        margin-bottom: 30px;
    }
    .text {
        width: 85%;
        padding: 10px;
        position: relative;
        font-size: 20px;
    }
    #text-1,
    #text-4,
    #text-10,
    #text-13,
    #text-14,
    #text-16,
    #text-17 {
        background-color: $form-1;
    }
    #text-1::after,
    #text-4::after,
    #text-10::after,
    #text-13::after,
    #text-14::after,
    #text-16::after,
    #text-17::after {
        content: "";
        position: absolute;
        top: 0;
        left: 100%;
        border-top: 25px solid transparent;
        border-bottom: 25px solid transparent;
        border-left: 20px solid $form-1;
    }
    #text-2,
    #text-5,
    #text-8,
    #text-11,
    #text-15 {
        background-color: $form-2;
    }
    #text-2::after,
    #text-5::after,
    #text-8::after,
    #text-15::after {
        content: "";
        position: absolute;
        top: 0;
        left: 100%;
        border-top: 25px solid transparent;
        border-bottom: 25px solid transparent;
        border-left: 20px solid $form-2;
    }
    #text-11::after {
        content: "";
        position: absolute;
        top: 0;
        left: 100%;
        border-top: 25px solid transparent;
        border-bottom: 25px solid transparent;
        border-left: 20px solid $form-2;
    }
    #text-3,
    #text-6,
    #text-7,
    #text-9,
    #text-12,
    #text-18 {
        background-color: $form-3;
    }
    #text-3::after,
    #text-6::after,
    #text-7::after,
    #text-9::after,
    #text-12::after,
    #text-18::after {
        content: "";
        position: absolute;
        top: 0;
        left: 100%;
        border-top: 25px solid transparent;
        border-bottom: 25px solid transparent;
        border-left: 20px solid $form-3;
    }
    .option {
        select {
            width: 100%;
            padding: 10px 0;
            border: none;
            background-color: $bg-grey;
            margin-bottom: 30px;
            color: $text-footer;
        }
        .option-1 {
            padding-left: 20px;
        }
        [type*="text"] {
            width: 100%;
            border: none;
            background-color: $bg-grey;
            padding: 10px;
        }
        textarea{
            width: 100%;
            border: none;
            background-color: $bg-grey;
            padding: 10px;
        }
        [type*="checkbox"] {
            transform: scale(2);
            margin-left: 8px;
        }
        .checkbox-1 {
            margin-bottom: 20px;
        }
        #upload-file {
            font-size: 14px;
            display: block;
            color: black;
            text-decoration: none;
            float: right;
            text-align: right;
            img {
                width: 20%;
            }
        }
    }
}
#form-nhan {
    #text-11-2 {
        background-color: $form-2;
    }
    #text-11-2::after {
        content: "";
        position: absolute;
        top: 0;
        left: 100%;
        border-top: 40px solid transparent;
        border-bottom: 40px solid transparent;
        border-left: 20px solid $form-2;
    }
}
///////


@media (max-width: 992px) {
    .main {
        padding: 40px 150px;
    }
        .text {
            width: 96%;
        }
        .form-item {
            margin-bottom: 50px;
        }
        .option {
            .row {
                .col-lg-6 {
                    margin-bottom: 15px;
                }
            }
        }
        #text-11-2::after {
            content: "";
            position: absolute;
            top: 0;
            left: 100%;
            border-top: 25px solid transparent;
            border-bottom: 25px solid transparent;
            border-left: 20px solid $form-2;
        }
}

@media (max-width: 768px) {
    .main {
        padding: 40px 100px;
    }
    #form-trao,
    #form-nhan {
        padding-top: 0px;
        .content-form {
            padding-left: 36px;
            padding-right: 36px;
            padding-top: 150px;
        }
        .text {
            width: 96%;
            font-size: 16px;
        }
        .form-item {
            margin-bottom: 50px;
        }
        .option {
            .row {
                .col-lg-6 {
                margin-bottom: 15px;
            }
        }
    }
        #text-1::after,
        #text-4::after,
        #text-10::after,
        #text-13::after,
        #text-14::after,
        #text-16::after,
        #text-17::after {
            content: "";
            position: absolute;
            top: 0;
            left: 100%;
            border-top: 22px solid transparent;
            border-bottom: 22px solid transparent;
            border-left: 20px solid $form-1;
        }
        #text-2::after,
        #text-5::after,
        #text-8::after,
        #text-11::after,
        #text-15::after {
            content: "";
            position: absolute;
            top: 0;
            left: 100%;
            border-top: 23px solid transparent;
            border-bottom: 22px solid transparent;
            border-left: 20px solid $form-2;
        }
        #text-3::after,
        #text-6::after,
        #text-7::after,
        #text-9::after,
        #text-12::after,
        #text-18::after {
            content: "";
            position: absolute;
            top: 0;
            left: 100%;
            border-top: 22px solid transparent;
            border-bottom: 22px solid transparent;
            border-left: 20px solid $form-3;
        }
    }
    .icon-right{
        left: 0 !important;
        border-radius: 0 !important;
        &::before{
            display: none;
        }
    }
    .footer-form{
        .icon-left{
            right: 0 !important;
            border-radius: 0 !important;
            flex-direction: column;
            justify-content: space-between;
            &::before{
                display: none;
            }
            a{
                margin: auto !important;
            }
            .text-right{
                margin-top: 7px !important;
            }
        }
    }
    #form-nhan {
        #text-11-2::after {
            content: "";
            position: absolute;
            top: 0;
            left: 100%;
            border-top: 23px solid transparent;
            border-bottom: 22px solid transparent;
            border-left: 20px solid $form-2;
        }
    }
}

@media (max-width: 576px){
    .main {
        padding: 40px 40px;
    }
    #form-trao,
    #form-nhan {
        #form-3 {
            margin-bottom: 30px;
        }
    }
}