section.form-tu-thien
  .form_traotuthien
    .title
      h1.icon-right Nhà cung cấp
    form(action="#" class="form_traott")
      .form-group
        .row
          .col-lg-6.col-md-12.col-sm-12.col-12
            label.label-bg.text-1 Tên Nhà cung cấp Sản phẩm - Dịch vụ
          .col-lg-6.col-md-12.col-sm-12.col-12.re-require
            input.input-df(type='text' name='tentochuccanhan' placeholder="Tên Nhà cung cấp Sản phẩm - Dịch vụ")
            span.require *
      .form-group
        .row
          .col-lg-6.col-md-12.col-sm-12.col-12
            label.label-bg.text-1 Tổ chức /Cá nhân/ Doanh nghiệp/Quỹ
          .col-lg-6.col-md-12.col-sm-12.col-12
            select.custom-select-tt(name="nguoinhan")
              option(value='') Tổ chức
              option(value='') Cá nhân
              option(value='') Doanh nghiệp
              option(value='') Quỹ
      .form-group
        .row
          .col-lg-6.col-md-12.col-sm-12.col-12
            label.label-bg.text-1 Địa chỉ Tổ chức /Cá nhân/ Doanh nghiệp/Quỹ
          .col-lg-6.col-md-12.col-sm-12.col-12.re-require
            input.input-df(type='text' name='tentochuccanhan' placeholder="Điền Địa chỉ Tổ chức /Cá nhân/ Doanh nghiệp/Quỹ")
            span.require *
      .form-group
        .row
          .col-lg-6.col-md-12.col-sm-12.col-12
            label.label-bg.text-3 Website,Fanpage
          .col-lg-6.col-md-12.col-sm-12.col-12
            input.input-df(type='text' name='websitefanpage' placeholder="Tên Website - Fanpage")
      .form-group
        .row
          .col-lg-6.col-md-12.col-sm-12.col-12
            label.label-bg.text-1 Người đại diện
          .col-lg-6.col-md-12.col-sm-12.col-12.re-require
            input.input-df(type='text' name='nguoidaidien' placeholder="Nhập tên người đại diện")
            span.require *
      .form-group
        .row
          .col-lg-6.col-md-12.col-sm-12.col-12
            label.label-bg.text-2 Giới tính
          .col-lg-6.col-md-12.col-sm-12.col-12.option
            .row.checkbox-1.re-require
              .col-lg-3.col-md-3.col-sm-6.col-3
                .row
                  .col-lg-2.col-md-2.col-sm-2.col-2
                    input(type='checkbox' name='male' checked='' value='Nam')
                  .col-lg-10.col-md-10.col-sm-10.col-10
                    span Nam
              .col-lg-3.col-md-3.col-sm-6.col-3
                .row
                  .col-lg-2.col-md-2.col-sm-2.col-2
                    input(type='checkbox' name='famale' value='Nu')
                  .col-lg-10.col-md-10.col-sm-10.col-10
                    span Nữ
              span.require *
      .form-group
        .row
          .col-lg-6.col-md-12.col-sm-12.col-12
            label.label-bg.text-1 Địa chỉ liên hệ
          .col-lg-6.col-md-12.col-sm-12.col-12.re-require
            input.input-df(type='text' name='diachilienhe' placeholder="Nhập địa chỉ liên hệ")
            span.require *
      .form-group
        .row
          .col-lg-6.col-md-12.col-sm-12.col-12
            label.label-bg.text-1 Email liên hệ
          .col-lg-6.col-md-12.col-sm-12.col-12.re-require
            input.input-df(type='email' name='diachilienhe' placeholder="Nhập email liên hệ")
            span.require *
      .form-group
        .row
          .col-lg-6.col-md-12.col-sm-12.col-12
            label.label-bg.text-1 Điện thoại liên hệ
          .col-lg-6.col-md-12.col-sm-12.col-12.re-require
            input.input-df(type='tel' name='diachilienhe' placeholder="Nhập số điện thoại")
            span.require *
      .form-group
        .row
          .col-lg-6.col-md-12.col-sm-12.col-12
            label.label-bg.text-3 Sản phẩm - Dịch vụ 1
          .col-lg-6.col-md-12.col-sm-12.col-12.re-require
            select.custom-select-tt(name="hinhthuctaitro")
              option(value='') Chọn hình thức
              option(value='hanghoa') Hàng Hóa
              option(value='chiphidichvu') Chi phí dịch vụ
              option(value='thamgiadonghanh') Tham gia đồng hành
              option(value='truyenthong') Truyền thông
              option(value='khac') Khác
            span.require *
      .form-group
        .row
          .col-lg-6.col-md-12.col-sm-12.col-12
            label.label-bg.text-1 Hình thức cung cấp / vận chuyển
          .col-lg-6.col-md-12.col-sm-12.col-12
            input.input-df(type='text' name='taikhoangd')
      .form-group
        .row
          .col-lg-6.col-md-12.col-sm-12.col-12
            label.label-bg.text-1 Tài khoản giao dịch
          .col-lg-6.col-md-12.col-sm-12.col-12
            input.input-df(type='text' name='masothue')
      .form-group
        .row
          .col-lg-6.col-md-12.col-sm-12.col-12
            label.label-bg.text-2 Mã số thuế Tổ chức /Cá nhân
          .col-lg-6.col-md-12.col-sm-12.col-12
            input.input-df(type='text' name='tansuat' placeholder="Mã số thuế Tổ chức /Cá nhân")
      .form-group
        .row
          .col-lg-6.col-md-12.col-sm-12.col-12
            label.label-bg.text-2 Danh sách Sản phẩm - Dịch vụ 
          .col-lg-6.col-md-12.col-sm-12.col-12
            input.input-df(type='text' name='tansuat' placeholder="Nhập danh sách Sản phẩm - Dịch vụ ")
      .form-group
        .row
          .col-lg-6.col-md-12.col-sm-12.col-12
            label.label-bg.text-2 Hợp đồng cung cấp 
          .col-lg-6.col-md-12.col-sm-12.col-12
            input.input-df(type='text' name='mongmuongiatrikhac' placeholder="hợp đồng cung cấp ")
      .form-group
        .row
          .col-lg-6.col-md-12.col-sm-12.col-12
            label.label-bg.text-3 Khả năng chiết khấu, giảm giá
          .col-lg-6.col-md-12.col-sm-12.col-12.re-require
            input.input-df(type='text' name='tengoinhantuthien' placeholder="Nhập Khả năng chiết khấu, giảm giá")
            span.require *
      .form-group
        .row
          .col-lg-6.col-md-12.col-sm-12.col-12
            label.label-bg.text-1 Những thông tin khác
          .col-lg-6.col-md-12.col-sm-12.col-12
            input.input-df(type='text' name='cacthongtinkhac' placeholder="Các thông tin khác")
      //- .form-group
      //-   .row
      //-     .col-lg-6.col-md-12.col-sm-12.col-12
      //-       label.label-bg.text-1 Trạng thái
      //-     .col-lg-6.col-md-12.col-sm-12.col-12
      //-       select.custom-select-tt(name="giatritaitro")
      //-         option(value='') Chọn trạng thái
      //-         option(value='') Đã đăng ký
      //-         option(value='') Đã duyệt
      //-         option(value='') Đang sử ý
      //-         option(value='') Đang triển khai
      //-         option(value='') Đã hoàn thành
      //-         option(value='') Đã đóng
    .footer-form
      h1.icon-left
        a.text-left(href='index.html') Quay về trang quản lý
        a.text-right(href='index.html') Tạo gói Nhà cung cấp

