section.form-tu-thien
    .form_traotuthien
        .title
            h1.icon-right Gói dịch vụ
        form(action="#" class="form_traott")
            .form-group
                .row
                    .col-lg-6.col-md-12.col-sm-12.col-12
                        label.label-bg.text-1 Người quản lý
                    .col-lg-6.col-md-12.col-sm-12.col-12.re-require
                        input.input-df(type='text' name='' placeholder="Tên người quản lý")
                        span.require *
            .form-group
                .row
                    .col-lg-6.col-md-12.col-sm-12.col-12
                        label.label-bg.text-2 Ngày khởi tạo
                    .col-lg-6.col-md-12.col-sm-12.col-12.re-require
                        input.input-df(type='date')
                        span.require *
            .form-group
                .row
                    .col-lg-6.col-md-12.col-sm-12.col-12
                        label.label-bg.text-1 Tên gói dịch vụ từ thiện
                    .col-lg-6.col-md-12.col-sm-12.col-12.re-require
                        input.input-df(type='text' name='' placeholder="Nhập tên gói dịch vụ")
                        span.require *
            .form-group
                .row
                    .col-lg-6.col-md-12.col-sm-12.col-12
                        label.label-bg.text-3 Ghép gói trao
                    .col-lg-6.col-md-12.col-sm-12.col-12.re-require
                        input.col-lg-9.col-md-9.col-sm-9.col-7.input-df(type='text' name='' placeholder="Tìm kiếm gói trao đả duyện")
                        input.col-lg-3.col-md-3.col-sm-3.col-5.input-df(type='button' name='Ghepdoi' value="Ghép Đôi")
            .form-group
                ul.nav.nav-tabs.menu-tabs#myTab(role="tablist")
                    li.nav-item
                        a.nav-link.active#T000001-tab(data-toggle="tab" href="#T000001" role="tab" aria-controls="T000001" aria-selected="true") T000001
                    li.nav-item
                        a.nav-link#T000002-tab(data-toggle="tab" href="#T000002" role="tab" aria-controls="T000002" aria-selected="false") T000002
                    li.nav-item
                        a.nav-link#T000003-tab(data-toggle="tab" href="#T000003" role="tab" aria-controls="T000003" aria-selected="false") T000003

                .tab-content#myTabContent
                    .tab-pane.fade.show.active#T000001(role="tabpanel" aria-labelledby="T000001-tab")
                        .form-group
                            .row
                                .col-lg-6.col-md-12.col-sm-12.col-12
                                    label.label-bg.text-3 Mã bên trao từ thiện
                                .col-lg-6.col-md-12.col-sm-12.col-12
                                    input.input-df(type='text' name='' placeholder="T000001")
                                ul.nav.nav-tabs.menu-tabs#myTab(role="tablist")
                        .form-group
                            .row
                                .col-lg-6.col-md-12.col-sm-12.col-12
                                    label.label-bg.text-1 Tên tổ chức/cá nhân trao từ thiện 1
                                .col-lg-6.col-md-12.col-sm-12.col-12.re-require
                                    input.input-df(type='text' name='' placeholder="Nhập tên tổ chức/cá nhân")
                                    span.require *
                        .form-group
                            .row
                                .col-lg-6.col-md-12.col-sm-12.col-12
                                    label.label-bg.text-2 Hình thức tài trợ mong muốn 1
                                .col-lg-6.col-md-12.col-sm-12.col-12.re-require
                                    select.custom-select-tt(name="hinhthuctaitro")
                                        option(value='') Chọn hình thức
                                        option(value='tien') Tiền
                                        option(value='hanghoa') Hàng Hóa
                                        option(value='chiphidichvu') Chi phí dịch vụ
                                        option(value='thamgiadonghanh') Tham gia đồng hành
                                        option(value='truyenthong') Truyền thông
                                        option(value='khac') Ý kiến khác
                                    span.require *
                        .form-group
                            .row
                                .col-lg-6.col-md-12.col-sm-12.col-12
                                    label.label-bg.text-3 Mã gói trao từ thiện 1
                                .col-lg-6.col-md-12.col-sm-12.col-12.re-require
                                    input.input-df(type='text' name='' placeholder="GT00001" )
                                    span.require *
                        .form-group
                            .row
                                .col-lg-6.col-md-12.col-sm-12.col-12
                                    label.label-bg.text-1 Tên gói trao từ thiện 1
                                .col-lg-6.col-md-12.col-sm-12.col-12.re-require
                                    input.input-df(type='text' name='' placeholder="Nhập tên gói" )
                                    span.require *
                        .form-group
                            .row.align-baseline
                                .col-lg-6.col-md-12.col-sm-12.col-12
                                    label.label-bg.text-3 Mô tả chương trình thực hiện
                                .col-lg-6.col-md-12.col-sm-12.col-12
                                    input.input-df(type='text' name='motachuongtrinh' placeholder="Mô tả chương trình")
                                    .choose-file
                                        input(type='file' placeholder="Chọn file gửi" title="Chọn file gửi")
                                        a(href="#") Chọn file
                                            img(src="../../../dist/assets/images/traotuthien/icon.png", alt="")
                        .form-group
                            .row
                                .col-lg-6.col-md-12.col-sm-12.col-12
                                    label.label-bg.text-1 Giá trị ước tính VNĐ
                                .col-lg-6.col-md-12.col-sm-12.col-12.re-require
                                    input.input-df(type='text' name='giatriuoctinh')
                                    span.require *
                        .form-group
                            .row
                                .col-lg-6.col-md-12.col-sm-12.col-12
                                    label.label-bg.text-2 Hình thức tổ chức
                                .col-lg-6.col-md-12.col-sm-12.col-12.re-require
                                    input.input-df(type='text' name='hinhthuctochuc' placeholder="Tên hình thức tổ chức")
                                    span.require *
                        .form-group
                            .row
                                .col-lg-6.col-md-12.col-sm-12.col-12
                                    label.label-bg.text-3 Mã bên Nhận từ thiện
                                .col-lg-6.col-md-12.col-sm-12.col-12.re-require
                                    input.input-df(type='text' name='' placeholder="N000001" )
                                    span.require *
                        .form-group
                            .row
                                .col-lg-6.col-md-12.col-sm-12.col-12
                                    label.label-bg.text-1 Tên bên Nhận từ thiện
                                .col-lg-6.col-md-12.col-sm-12.col-12.re-require
                                    input.input-df(type='text' name='' placeholder="Nhập tên bên nhận")
                                    span.require *
                        .form-group
                            .row
                                .col-lg-6.col-md-12.col-sm-12.col-12
                                    label.label-bg.text-1 Người đại diện
                                .col-lg-6.col-md-12.col-sm-12.col-12.re-require
                                    input.input-df(type='text' name='nguoidaidien' placeholder="Nhập tên người đại diện")
                                    span.require *
                        .form-group
                            .row
                                .col-lg-6.col-md-12.col-sm-12.col-12
                                    label.label-bg.text-2 Giới tính
                                .col-lg-6.col-md-12.col-sm-12.col-12.option
                                    .row.checkbox-1.re-require
                                        .col-lg-3.col-md-3.col-sm-6.col-3
                                            .row
                                            .col-lg-2.col-md-2.col-sm-2.col-2
                                                input(type='checkbox' name='famale' checked='' value='Nam')
                                            .col-lg-10.col-md-10.col-sm-10.col-10
                                                span Nam
                                        .col-lg-3.col-md-3.col-sm-6.col-3
                                            .row
                                            .col-lg-2.col-md-2.col-sm-2.col-2
                                                input(type='checkbox' name='famale' value='Nu')
                                            .col-lg-10.col-md-10.col-sm-10.col-10
                                                span Nữ
                                        span.require *
                        .form-group
                            .row
                                .col-lg-6.col-md-12.col-sm-12.col-12
                                    label.label-bg.text-1 Địa chỉ liên hệ
                                .col-lg-6.col-md-12.col-sm-12.col-12.re-require
                                    input.input-df(type='text' name='diachilienhe' placeholder="Nhập địa chỉ liên hệ")
                                    span.require *
                        .form-group
                            .row
                                .col-lg-6.col-md-12.col-sm-12.col-12
                                    label.label-bg.text-1 Email liên hệ
                                .col-lg-6.col-md-12.col-sm-12.col-12.re-require
                                    input.input-df(type='email' name='diachilienhe' placeholder="Nhập email liên hệ")
                                    span.require *
                        .form-group
                            .row
                                .col-lg-6.col-md-12.col-sm-12.col-12
                                    label.label-bg.text-1 Điện liên hệ
                                .col-lg-6.col-md-12.col-sm-12.col-12.re-require
                                    input.input-df(type='tel' name='diachilienhe' placeholder="Nhập số điện thoại")
                                    span.require *
                        .form-group
                            .row
                                .col-lg-6.col-md-12.col-sm-12.col-12
                                    label.label-bg.text-3 Hình thức nhận tài trợ mong muốn
                                .col-lg-6.col-md-12.col-sm-12.col-12.re-require
                                    select.custom-select-tt(name="hinhthuctaitro")
                                        option(value='') Chọn hình thức
                                        option(value='tien') Tiền
                                        option(value='hanghoa') Hàng Hóa
                                        option(value='chiphidichvu') Chi phí dịch vụ
                                        option(value='thamgiadonghanh') Tham gia đồng hành
                                        option(value='truyenthong') Truyền thông
                                        option(value='khac') Ý kiến khác
                                    span.require *
                    .tab-pane.fade#T000002(role="tabpanel" aria-labelledby="T000002-tab")
                        .form-group
                            .row
                                .col-lg-6.col-md-12.col-sm-12.col-12
                                    label.label-bg.text-3 Mã bên trao từ thiện
                                .col-lg-6.col-md-12.col-sm-12.col-12
                                    input.input-df(type='text' name='' placeholder="T000002")
                                ul.nav.nav-tabs.menu-tabs#myTab(role="tablist")
                        .form-group
                            .row
                                .col-lg-6.col-md-12.col-sm-12.col-12
                                    label.label-bg.text-1 Tên tổ chức/cá nhân trao từ thiện 2
                                .col-lg-6.col-md-12.col-sm-12.col-12.re-require
                                    input.input-df(type='text' name='' placeholder="Nhập tên tổ chức/cá nhân")
                                    span.require *
                        .form-group
                            .row
                                .col-lg-6.col-md-12.col-sm-12.col-12
                                    label.label-bg.text-2 Hình thức tài trợ mong muốn 2
                                .col-lg-6.col-md-12.col-sm-12.col-12.re-require
                                    select.custom-select-tt(name="hinhthuctaitro")
                                        option(value='') Chọn hình thức
                                        option(value='tien') Tiền
                                        option(value='hanghoa') Hàng Hóa
                                        option(value='chiphidichvu') Chi phí dịch vụ
                                        option(value='thamgiadonghanh') Tham gia đồng hành
                                        option(value='truyenthong') Truyền thông
                                        option(value='khac') Ý kiến khác
                                    span.require *
                        .form-group
                            .row
                                .col-lg-6.col-md-12.col-sm-12.col-12
                                    label.label-bg.text-3 Mã gói trao từ thiện 2
                                .col-lg-6.col-md-12.col-sm-12.col-12.re-require
                                    input.input-df(type='text' name='' placeholder="GT00002" )
                                    span.require *
                        .form-group
                            .row
                                .col-lg-6.col-md-12.col-sm-12.col-12
                                    label.label-bg.text-1 Tên gói trao từ thiện 2
                                .col-lg-6.col-md-12.col-sm-12.col-12.re-require
                                    input.input-df(type='text' name='' placeholder="Nhập tên gói" )
                                    span.require *
                        .form-group
                            .row.align-baseline
                                .col-lg-6.col-md-12.col-sm-12.col-12
                                    label.label-bg.text-3 Mô tả chương trình thực hiện
                                .col-lg-6.col-md-12.col-sm-12.col-12
                                    input.input-df(type='text' name='motachuongtrinh' placeholder="Mô tả chương trình")
                                    .choose-file
                                        input(type='file' placeholder="Chọn file gửi" title="Chọn file gửi")
                                        a(href="#") Chọn file
                                            img(src="../../../dist/assets/images/traotuthien/icon.png", alt="")
                        .form-group
                            .row
                                .col-lg-6.col-md-12.col-sm-12.col-12
                                    label.label-bg.text-1 Giá trị ước tính VNĐ
                                .col-lg-6.col-md-12.col-sm-12.col-12.re-require
                                    input.input-df(type='text' name='giatriuoctinh')
                                    span.require *
                        .form-group
                            .row
                                .col-lg-6.col-md-12.col-sm-12.col-12
                                    label.label-bg.text-2 Hình thức tổ chức
                                .col-lg-6.col-md-12.col-sm-12.col-12.re-require
                                    input.input-df(type='text' name='hinhthuctochuc' placeholder="Tên hình thức tổ chức")
                                    span.require *
                        .form-group
                            .row
                                .col-lg-6.col-md-12.col-sm-12.col-12
                                    label.label-bg.text-3 Mã bên Nhận từ thiện
                                .col-lg-6.col-md-12.col-sm-12.col-12.re-require
                                    input.input-df(type='text' name='' placeholder="N000001" )
                                    span.require *
                        .form-group
                            .row
                                .col-lg-6.col-md-12.col-sm-12.col-12
                                    label.label-bg.text-1 Tên bên Nhận từ thiện
                                .col-lg-6.col-md-12.col-sm-12.col-12.re-require
                                    input.input-df(type='text' name='' placeholder="Nhập tên bên nhận")
                                    span.require *
                        .form-group
                            .row
                                .col-lg-6.col-md-12.col-sm-12.col-12
                                    label.label-bg.text-1 Người đại diện
                                .col-lg-6.col-md-12.col-sm-12.col-12.re-require
                                    input.input-df(type='text' name='nguoidaidien' placeholder="Nhập tên người đại diện")
                                    span.require *
                        .form-group
                            .row
                                .col-lg-6.col-md-12.col-sm-12.col-12
                                    label.label-bg.text-2 Giới tính
                                .col-lg-6.col-md-12.col-sm-12.col-12.option
                                    .row.checkbox-1.re-require
                                        .col-lg-3.col-md-3.col-sm-6.col-3
                                            .row
                                            .col-lg-2.col-md-2.col-sm-2.col-2
                                                input(type='checkbox' name='famale' checked='' value='Nam')
                                            .col-lg-10.col-md-10.col-sm-10.col-10
                                                span Nam
                                        .col-lg-3.col-md-3.col-sm-6.col-3
                                            .row
                                            .col-lg-2.col-md-2.col-sm-2.col-2
                                                input(type='checkbox' name='famale' value='Nu')
                                            .col-lg-10.col-md-10.col-sm-10.col-10
                                                span Nữ
                                        span.require *
                        .form-group
                            .row
                                .col-lg-6.col-md-12.col-sm-12.col-12
                                    label.label-bg.text-1 Địa chỉ liên hệ
                                .col-lg-6.col-md-12.col-sm-12.col-12.re-require
                                    input.input-df(type='text' name='diachilienhe' placeholder="Nhập địa chỉ liên hệ")
                                    span.require *
                        .form-group
                            .row
                                .col-lg-6.col-md-12.col-sm-12.col-12
                                    label.label-bg.text-1 Email liên hệ
                                .col-lg-6.col-md-12.col-sm-12.col-12.re-require
                                    input.input-df(type='email' name='diachilienhe' placeholder="Nhập email liên hệ")
                                    span.require *
                        .form-group
                            .row
                                .col-lg-6.col-md-12.col-sm-12.col-12
                                    label.label-bg.text-1 Điện liên hệ
                                .col-lg-6.col-md-12.col-sm-12.col-12.re-require
                                    input.input-df(type='tel' name='diachilienhe' placeholder="Nhập số điện thoại")
                                    span.require *
                        .form-group
                            .row
                                .col-lg-6.col-md-12.col-sm-12.col-12
                                    label.label-bg.text-3 Hình thức nhận tài trợ mong muốn
                                .col-lg-6.col-md-12.col-sm-12.col-12.re-require
                                    select.custom-select-tt(name="hinhthuctaitro")
                                        option(value='') Chọn hình thức
                                        option(value='tien') Tiền
                                        option(value='hanghoa') Hàng Hóa
                                        option(value='chiphidichvu') Chi phí dịch vụ
                                        option(value='thamgiadonghanh') Tham gia đồng hành
                                        option(value='truyenthong') Truyền thông
                                        option(value='khac') Ý kiến khác
                                    span.require *
                    .tab-pane.fade#T000003(role="tabpanel" aria-labelledby="T000003-tab")
                        .form-group
                            .row
                                .col-lg-6.col-md-12.col-sm-12.col-12
                                    label.label-bg.text-3 Mã bên trao từ thiện
                                .col-lg-6.col-md-12.col-sm-12.col-12
                                    input.input-df(type='text' name='' placeholder="T000003")
                                ul.nav.nav-tabs.menu-tabs#myTab(role="tablist")
                        .form-group
                            .row
                                .col-lg-6.col-md-12.col-sm-12.col-12
                                    label.label-bg.text-1 Tên tổ chức/cá nhân trao từ thiện 3
                                .col-lg-6.col-md-12.col-sm-12.col-12.re-require
                                    input.input-df(type='text' name='' placeholder="Nhập tên tổ chức/cá nhân")
                                    span.require *
                        .form-group
                            .row
                                .col-lg-6.col-md-12.col-sm-12.col-12
                                    label.label-bg.text-2 Hình thức tài trợ mong muốn 3
                                .col-lg-6.col-md-12.col-sm-12.col-12.re-require
                                    select.custom-select-tt(name="hinhthuctaitro")
                                        option(value='') Chọn hình thức
                                        option(value='tien') Tiền
                                        option(value='hanghoa') Hàng Hóa
                                        option(value='chiphidichvu') Chi phí dịch vụ
                                        option(value='thamgiadonghanh') Tham gia đồng hành
                                        option(value='truyenthong') Truyền thông
                                        option(value='khac') Ý kiến khác
                                    span.require *
                        .form-group
                            .row
                                .col-lg-6.col-md-12.col-sm-12.col-12
                                    label.label-bg.text-3 Mã gói trao từ thiện 3
                                .col-lg-6.col-md-12.col-sm-12.col-12.re-require
                                    input.input-df(type='text' name='' placeholder="GT00003" )
                                    span.require *
                        .form-group
                            .row
                                .col-lg-6.col-md-12.col-sm-12.col-12
                                    label.label-bg.text-1 Tên gói trao từ thiện 3
                                .col-lg-6.col-md-12.col-sm-12.col-12.re-require
                                    input.input-df(type='text' name='' placeholder="Nhập tên gói" )
                                    span.require *
                        .form-group
                            .row.align-baseline
                                .col-lg-6.col-md-12.col-sm-12.col-12
                                    label.label-bg.text-3 Mô tả chương trình thực hiện
                                .col-lg-6.col-md-12.col-sm-12.col-12
                                    input.input-df(type='text' name='motachuongtrinh' placeholder="Mô tả chương trình")
                                    .choose-file
                                        input(type='file' placeholder="Chọn file gửi" title="Chọn file gửi")
                                        a(href="#") Chọn file
                                            img(src="../../../dist/assets/images/traotuthien/icon.png", alt="")
                        .form-group
                            .row
                                .col-lg-6.col-md-12.col-sm-12.col-12
                                    label.label-bg.text-1 Giá trị ước tính VNĐ
                                .col-lg-6.col-md-12.col-sm-12.col-12.re-require
                                    input.input-df(type='text' name='giatriuoctinh')
                                    span.require *
                        .form-group
                            .row
                                .col-lg-6.col-md-12.col-sm-12.col-12
                                    label.label-bg.text-2 Hình thức tổ chức
                                .col-lg-6.col-md-12.col-sm-12.col-12.re-require
                                    input.input-df(type='text' name='hinhthuctochuc' placeholder="Tên hình thức tổ chức")
                                    span.require *
                        .form-group
                            .row
                                .col-lg-6.col-md-12.col-sm-12.col-12
                                    label.label-bg.text-3 Mã bên Nhận từ thiện
                                .col-lg-6.col-md-12.col-sm-12.col-12.re-require
                                    input.input-df(type='text' name='' placeholder="N000001" )
                                    span.require *
                        .form-group
                            .row
                                .col-lg-6.col-md-12.col-sm-12.col-12
                                    label.label-bg.text-1 Tên bên Nhận từ thiện
                                .col-lg-6.col-md-12.col-sm-12.col-12.re-require
                                    input.input-df(type='text' name='' placeholder="Nhập tên bên nhận")
                                    span.require *
                        .form-group
                            .row
                                .col-lg-6.col-md-12.col-sm-12.col-12
                                    label.label-bg.text-1 Người đại diện
                                .col-lg-6.col-md-12.col-sm-12.col-12.re-require
                                    input.input-df(type='text' name='nguoidaidien' placeholder="Nhập tên người đại diện")
                                    span.require *
                        .form-group
                            .row
                                .col-lg-6.col-md-12.col-sm-12.col-12
                                    label.label-bg.text-2 Giới tính
                                .col-lg-6.col-md-12.col-sm-12.col-12.option
                                    .row.checkbox-1.re-require
                                        .col-lg-3.col-md-3.col-sm-6.col-3
                                            .row
                                            .col-lg-2.col-md-2.col-sm-2.col-2
                                                input(type='checkbox' name='famale' checked='' value='Nam')
                                            .col-lg-10.col-md-10.col-sm-10.col-10
                                                span Nam
                                        .col-lg-3.col-md-3.col-sm-6.col-3
                                            .row
                                            .col-lg-2.col-md-2.col-sm-2.col-2
                                                input(type='checkbox' name='famale' value='Nu')
                                            .col-lg-10.col-md-10.col-sm-10.col-10
                                                span Nữ
                                        span.require *
                        .form-group
                            .row
                                .col-lg-6.col-md-12.col-sm-12.col-12
                                    label.label-bg.text-1 Địa chỉ liên hệ
                                .col-lg-6.col-md-12.col-sm-12.col-12.re-require
                                    input.input-df(type='text' name='diachilienhe' placeholder="Nhập địa chỉ liên hệ")
                                    span.require *
                        .form-group
                            .row
                                .col-lg-6.col-md-12.col-sm-12.col-12
                                    label.label-bg.text-1 Email liên hệ
                                .col-lg-6.col-md-12.col-sm-12.col-12.re-require
                                    input.input-df(type='email' name='diachilienhe' placeholder="Nhập email liên hệ")
                                    span.require *
                        .form-group
                            .row
                                .col-lg-6.col-md-12.col-sm-12.col-12
                                    label.label-bg.text-1 Điện liên hệ
                                .col-lg-6.col-md-12.col-sm-12.col-12.re-require
                                    input.input-df(type='tel' name='diachilienhe' placeholder="Nhập số điện thoại")
                                    span.require *
                        .form-group
                            .row
                                .col-lg-6.col-md-12.col-sm-12.col-12
                                    label.label-bg.text-3 Hình thức nhận tài trợ mong muốn
                                .col-lg-6.col-md-12.col-sm-12.col-12.re-require
                                    select.custom-select-tt(name="hinhthuctaitro")
                                        option(value='') Chọn hình thức
                                        option(value='tien') Tiền
                                        option(value='hanghoa') Hàng Hóa
                                        option(value='chiphidichvu') Chi phí dịch vụ
                                        option(value='thamgiadonghanh') Tham gia đồng hành
                                        option(value='truyenthong') Truyền thông
                                        option(value='khac') Ý kiến khác
                                    span.require *
            .form-group
                .row
                    .col-lg-6.col-md-12.col-sm-12.col-12
                        label.label-bg.text-3 Ghép gói nhận
                    .col-lg-6.col-md-12.col-sm-12.col-12.re-require
                        input.col-lg-9.col-md-9.col-sm-9.col-7.input-df(type='text' name='' placeholder="Tìm kiếm gói nhận đả duyện")
                        input.col-lg-3.col-md-3.col-sm-3.col-5.input-df(type='button' name='Ghepdoi' value="Ghép Đôi")
            .form-group
                ul.nav.nav-tabs.menu-tabs#myTab(role="tablist")
                    li.nav-item
                        a.nav-link.active#N000001-tab(data-toggle="tab" href="#N000001" role="tab" aria-controls="N000001" aria-selected="true") N000001
                    li.nav-item
                        a.nav-link#N000002-tab(data-toggle="tab" href="#N000002" role="tab" aria-controls="N000002" aria-selected="false") N000002
                    li.nav-item
                        a.nav-link#N000003-tab(data-toggle="tab" href="#N000003" role="tab" aria-controls="N000003" aria-selected="false") N000003

                .tab-content#myTabContent
                    .tab-pane.fade.show.active#N000001(role="tabpanel" aria-labelledby="N000001-tab")
                        .form-group
                            .row
                                .col-lg-6.col-md-12.col-sm-12.col-12
                                    label.label-bg.text-3 Mã Gói Nhận từ thiện
                                .col-lg-6.col-md-12.col-sm-12.col-12.re-require
                                    input.input-df(type='text' name='' placeholder="N000001" )
                                    span.require *
                        .form-group
                            .row
                                .col-lg-6.col-md-12.col-sm-12.col-12
                                    label.label-bg.text-1 Tên Gói Nhận từ thiện
                                .col-lg-6.col-md-12.col-sm-12.col-12.re-require
                                    input.input-df(type='text' name='' placeholder="Nhập tên gói nhận")
                                    span.require *
                        .form-group
                            .row
                                .col-lg-6.col-md-12.col-sm-12.col-12
                                    label.label-bg.text-3 Nhu cầu mong ước
                                .col-lg-6.col-md-12.col-sm-12.col-12.re-require
                                    input.input-df(type='text' name='' placeholder="Nhập nhu cầu mong ước")
                                    span.require *
                        .form-group
                            .row
                                .col-lg-6.col-md-12.col-sm-12.col-12
                                    label.label-bg.text-1 Giá trị ước tính (VNĐ)
                                .col-lg-6.col-md-12.col-sm-12.col-12.re-require
                                    input.input-df(type='text' name='giatriuoctinh')
                                    span.require *
                    .tab-pane.fade.show#N000002(role="tabpanel" aria-labelledby="N000002-tab")
                        .form-group
                            .row
                                .col-lg-6.col-md-12.col-sm-12.col-12
                                    label.label-bg.text-3 Mã Gói Nhận từ thiện 2
                                .col-lg-6.col-md-12.col-sm-12.col-12.re-require
                                    input.input-df(type='text' name='' placeholder="N000001" )
                                    span.require *
                        .form-group
                            .row
                                .col-lg-6.col-md-12.col-sm-12.col-12
                                    label.label-bg.text-1 Tên Gói Nhận từ thiện 2
                                .col-lg-6.col-md-12.col-sm-12.col-12.re-require
                                    input.input-df(type='text' name='' placeholder="Nhập tên gói nhận")
                                    span.require *
                        .form-group
                            .row
                                .col-lg-6.col-md-12.col-sm-12.col-12
                                    label.label-bg.text-3 Nhu cầu mong ước 2
                                .col-lg-6.col-md-12.col-sm-12.col-12.re-require
                                    input.input-df(type='text' name='' placeholder="Nhập nhu cầu mong ước")
                                    span.require *
                        .form-group
                            .row
                                .col-lg-6.col-md-12.col-sm-12.col-12
                                    label.label-bg.text-1 Giá trị ước tính (VNĐ)
                                .col-lg-6.col-md-12.col-sm-12.col-12.re-require
                                    input.input-df(type='text' name='giatriuoctinh')
                                    span.require *
                    .tab-pane.fade.show#N000003(role="tabpanel" aria-labelledby="N000003-tab")
                        .form-group
                            .row
                                .col-lg-6.col-md-12.col-sm-12.col-12
                                    label.label-bg.text-3 Mã Gói Nhận từ thiện 3
                                .col-lg-6.col-md-12.col-sm-12.col-12.re-require
                                    input.input-df(type='text' name='' placeholder="N000001" )
                                    span.require *
                        .form-group
                            .row
                                .col-lg-6.col-md-12.col-sm-12.col-12
                                    label.label-bg.text-1 Tên Gói Nhận từ thiện 3
                                .col-lg-6.col-md-12.col-sm-12.col-12.re-require
                                    input.input-df(type='text' name='' placeholder="Nhập tên gói nhận")
                                    span.require *
                        .form-group
                            .row
                                .col-lg-6.col-md-12.col-sm-12.col-12
                                    label.label-bg.text-3 Nhu cầu mong ước 3
                                .col-lg-6.col-md-12.col-sm-12.col-12.re-require
                                    input.input-df(type='text' name='' placeholder="Nhập nhu cầu mong ước")
                                    span.require *
                        .form-group
                            .row
                                .col-lg-6.col-md-12.col-sm-12.col-12
                                    label.label-bg.text-1 Giá trị ước tính (VNĐ)
                                .col-lg-6.col-md-12.col-sm-12.col-12.re-require
                                    input.input-df(type='text' name='giatriuoctinh')
                                    span.require *
            .form-group
                .row
                    .col-lg-6.col-md-12.col-sm-12.col-12
                        label.label-bg.text-3 Ghép nhà cung cấp SP - DV
                    .col-lg-6.col-md-12.col-sm-12.col-12.re-require
                        input.col-lg-9.col-md-9.col-sm-9.col-7.input-df(type='text' name='' placeholder="Tìm kiếm nhà cung cấp đả duyện")
                        input.col-lg-3.col-md-3.col-sm-3.col-5.input-df(type='button' name='Ghepdoi' value="Ghép Đôi")
            .form-group
                ul.nav.nav-tabs.menu-tabs#myTab(role="tablist")
                    li.nav-item
                        a.nav-link.active#NC000001-tab(data-toggle="tab" href="#NC000001" role="tab" aria-controls="NC000001" aria-selected="true") NC000001
                    li.nav-item
                        a.nav-link#NC000002-tab(data-toggle="tab" href="#NC000002" role="tab" aria-controls="NC000002" aria-selected="false") NC000002
                    li.nav-item
                        a.nav-link#NC000003-tab(data-toggle="tab" href="#NC000003" role="tab" aria-controls="NC000003" aria-selected="false") NC000003
                .tab-content#myTabContent
                    .tab-pane.fade.show.active#NC000001(role="tabpanel" aria-labelledby="NC000001-tab")
                        .form-group
                            .row
                                .col-lg-6.col-md-12.col-sm-12.col-12
                                    label.label-bg.text-3 Mã NCC SP-DV 1
                                .col-lg-6.col-md-12.col-sm-12.col-12
                                    input.input-df(type='text' name='' placeholder="NC00001" )
                        .form-group
                            .row
                                .col-lg-6.col-md-12.col-sm-12.col-12
                                    label.label-bg.text-3 Tên nhà cung cấp SP-DV 1
                                .col-lg-6.col-md-12.col-sm-12.col-12.re-require
                                    input.input-df(type='text' name='' placeholder="Tên nhà cung cấp" )
                                    span.require *
                        .form-group
                            .row
                                .col-lg-6.col-md-12.col-sm-12.col-12
                                    label.label-bg.text-2 Sản phẩm dịch vụ 1
                                .col-lg-6.col-md-12.col-sm-12.col-12.re-require
                                    select.custom-select-tt(name="")
                                        option(value='') Chọn sản phẩm
                                        option(value='') Hàng Hóa
                                        option(value='') Chi phí dịch vụ
                                        option(value='') Tham gia đồng hành
                                        option(value='') Truyền thông
                                        option(value='') Ý kiến khác
                                    span.require *
                        .form-group
                            .row
                                .col-lg-6.col-md-12.col-sm-12.col-12
                                    label.label-bg.text-1 Giá trị cung cấp (VNĐ)
                                .col-lg-6.col-md-12.col-sm-12.col-12.re-require
                                    input.input-df(type='text' name='giatricungcap')
                                    span.require *
                        .form-group
                            .row.align-baseline
                                .col-lg-6.col-md-12.col-sm-12.col-12
                                    label.label-bg.text-3 Hợp đồng cung cấp 1
                                .col-lg-6.col-md-12.col-sm-12.col-12
                                    input.input-df(type='text')
                                    .choose-file
                                        input(type='file' placeholder="Chọn file gửi" title="Chọn file gửi")
                                        a(href="#") Chọn file
                                            img(src="../../../dist/assets/images/traotuthien/icon.png", alt="")
                    .tab-pane.fade.show#NC000002(role="tabpanel" aria-labelledby="NC000002-tab")
                        .form-group
                            .row
                                .col-lg-6.col-md-12.col-sm-12.col-12
                                    label.label-bg.text-3 Mã NCC SP-DV 2
                                .col-lg-6.col-md-12.col-sm-12.col-12
                                    input.input-df(type='text' name='' placeholder="NC00002" )
                        .form-group
                            .row
                                .col-lg-6.col-md-12.col-sm-12.col-12
                                    label.label-bg.text-3 Tên nhà cung cấp SP-DV 2
                                .col-lg-6.col-md-12.col-sm-12.col-12.re-require
                                    input.input-df(type='text' name='' placeholder="Tên nhà cung cấp" )
                                    span.require *
                        .form-group
                            .row
                                .col-lg-6.col-md-12.col-sm-12.col-12
                                    label.label-bg.text-2 Sản phẩm dịch vụ 2
                                .col-lg-6.col-md-12.col-sm-12.col-12.re-require
                                    select.custom-select-tt(name="")
                                        option(value='') Chọn sản phẩm
                                        option(value='') Hàng Hóa
                                        option(value='') Chi phí dịch vụ
                                        option(value='') Tham gia đồng hành
                                        option(value='') Truyền thông
                                        option(value='') Ý kiến khác
                                    span.require *
                        .form-group
                            .row
                                .col-lg-6.col-md-12.col-sm-12.col-12
                                    label.label-bg.text-1 Giá trị cung cấp (VNĐ)
                                .col-lg-6.col-md-12.col-sm-12.col-12.re-require
                                    input.input-df(type='text' name='giatricungcap')
                                    span.require *
                        .form-group
                            .row.align-baseline
                                .col-lg-6.col-md-12.col-sm-12.col-12
                                    label.label-bg.text-3 Hợp đồng cung cấp 2
                                .col-lg-6.col-md-12.col-sm-12.col-12
                                    input.input-df(type='text')
                                    .choose-file
                                        input(type='file' placeholder="Chọn file gửi" title="Chọn file gửi")
                                        a(href="#") Chọn file
                                            img(src="../../../dist/assets/images/traotuthien/icon.png", alt="")
                    .tab-pane.fade.show#NC000003(role="tabpanel" aria-labelledby="NC000003-tab")
                        .form-group
                            .row
                                .col-lg-6.col-md-12.col-sm-12.col-12
                                    label.label-bg.text-3 Mã NCC SP-DV 3
                                .col-lg-6.col-md-12.col-sm-12.col-12
                                    input.input-df(type='text' name='' placeholder="NC00003" )
                        .form-group
                            .row
                                .col-lg-6.col-md-12.col-sm-12.col-12
                                    label.label-bg.text-3 Tên nhà cung cấp SP-DV 3
                                .col-lg-6.col-md-12.col-sm-12.col-12.re-require
                                    input.input-df(type='text' name='' placeholder="Tên nhà cung cấp" )
                                    span.require *
                        .form-group
                            .row
                                .col-lg-6.col-md-12.col-sm-12.col-12
                                    label.label-bg.text-2 Sản phẩm dịch vụ 3
                                .col-lg-6.col-md-12.col-sm-12.col-12.re-require
                                    select.custom-select-tt(name="")
                                        option(value='') Chọn sản phẩm
                                        option(value='') Hàng Hóa
                                        option(value='') Chi phí dịch vụ
                                        option(value='') Tham gia đồng hành
                                        option(value='') Truyền thông
                                        option(value='') Ý kiến khác
                                    span.require *
                        .form-group
                            .row
                                .col-lg-6.col-md-12.col-sm-12.col-12
                                    label.label-bg.text-1 Giá trị cung cấp (VNĐ)
                                .col-lg-6.col-md-12.col-sm-12.col-12.re-require
                                    input.input-df(type='text' name='giatricungcap')
                                    span.require *
                        .form-group
                            .row.align-baseline
                                .col-lg-6.col-md-12.col-sm-12.col-12
                                    label.label-bg.text-3 Hợp đồng cung cấp 3
                                .col-lg-6.col-md-12.col-sm-12.col-12
                                    input.input-df(type='text')
                                    .choose-file
                                        input(type='file' placeholder="Chọn file gửi" title="Chọn file gửi")
                                        a(href="#") Chọn file
                                            img(src="../../../dist/assets/images/traotuthien/icon.png", alt="")
            //- .form-group
            //-     .row
            //-         .col-lg-6.col-md-12.col-sm-12.col-12
            //-             label.label-bg.text-1 Trạng thái
            //-         .col-lg-6.col-md-12.col-sm-12.col-12
            //-             select.custom-select-tt(name="giatritaitro")
            //-                 option(value='') Chọn trạng thái
            //-                 option(value='') Đã đăng ký
            //-                 option(value='') Đã duyệt
            //-                 option(value='') Đang sử ý
            //-                 option(value='') Đang triển khai
            //-                 option(value='') Đã hoàn thành
            //-                 option(value='') Đã đóng
        .footer-form
            h1.icon-left
                a.text-left(href='index.html') Quay về trang quản lý
                a.text-right(href='index.html') Tạo gói dịch vụ, từ thiện