section.form-tu-thien
  .form_traotuthien
    .title
      h1.icon-right Tạo gói nhận từ thiện
    form(action="#" class="form_traott")
      .form-group
        .row
          .col-lg-6.col-md-12.col-sm-12.col-12
            label.label-bg.text-1 Tên tổ chức/Cá nhân/ Nhóm/ Vùng
          .col-lg-6.col-md-12.col-sm-12.col-12.re-require
            input.input-df(type='text' name='tentochuccanhan' placeholder="Điền Tên tổ chức / cá nhân / nhóm / vùng")
            span.require *
      .form-group
        .row
          .col-lg-6.col-md-12.col-sm-12.col-12
            label.label-bg.text-1 Tổ chức /Cá nhân/ Nhóm/ Vùng/ Khác
          .col-lg-6.col-md-12.col-sm-12.col-12
            select.custom-select-tt(name="nguoinhan")
              option(value='') Vùng D
              option(value='') Bên A
              option(value='') Bên B
              option(value='') Bên C
      .form-group
        .row
          .col-lg-6.col-md-12.col-sm-12.col-12
            label.label-bg.text-1 Địa chỉ Tổ chức /Cá nhân/ Nhóm/ Vùng
          .col-lg-6.col-md-12.col-sm-12.col-12.re-require
            input.input-df(type='text' name='tentochuccanhan' placeholder="Điền địa chỉ tổ chức / cá nhân")
            span.require *
      .form-group
        .row
          .col-lg-6.col-md-12.col-sm-12.col-12
            label.label-bg.text-3 Website,Fanpage
          .col-lg-6.col-md-12.col-sm-12.col-12
            input.input-df(type='text' name='websitefanpage' placeholder="Tên Website - Fanpage")
      .form-group
        .row
          .col-lg-6.col-md-12.col-sm-12.col-12
            label.label-bg.text-1 Người đại diện
          .col-lg-6.col-md-12.col-sm-12.col-12.re-require
            input.input-df(type='text' name='nguoidaidien' placeholder="Nhập tên người đại diện")
            span.require *
      .form-group
        .row
          .col-lg-6.col-md-12.col-sm-12.col-12
            label.label-bg.text-2 Giới tính
          .col-lg-6.col-md-12.col-sm-12.col-12.option
            .row.checkbox-1.re-require
              .col-lg-3.col-md-3.col-sm-6.col-3
                .row
                  .col-lg-2.col-md-2.col-sm-2.col-2
                    input(type='checkbox' name='male' checked='' value='Nam')
                  .col-lg-10.col-md-10.col-sm-10.col-10
                    span Nam
              .col-lg-3.col-md-3.col-sm-6.col-3
                .row
                  .col-lg-2.col-md-2.col-sm-2.col-2
                    input(type='checkbox' name='famale' value='Nu')
                  .col-lg-10.col-md-10.col-sm-10.col-10
                    span Nữ
              span.require *
      .form-group
        .row
          .col-lg-6.col-md-12.col-sm-12.col-12
            label.label-bg.text-1 Địa chỉ liên hệ
          .col-lg-6.col-md-12.col-sm-12.col-12.re-require
            input.input-df(type='text' name='diachilienhe' placeholder="Nhập địa chỉ liên hệ")
            span.require *
      .form-group
        .row
          .col-lg-6.col-md-12.col-sm-12.col-12
            label.label-bg.text-1 Email liên hệ
          .col-lg-6.col-md-12.col-sm-12.col-12.re-require
            input.input-df(type='email' name='diachilienhe' placeholder="Nhập email liên hệ")
            span.require *
      .form-group
        .row
          .col-lg-6.col-md-12.col-sm-12.col-12
            label.label-bg.text-1 Điện thoại liên hệ
          .col-lg-6.col-md-12.col-sm-12.col-12.re-require
            input.input-df(type='tel' name='diachilienhe' placeholder="Nhập số điện thoại")
            span.require *
      .form-group
        .row
          .col-lg-6.col-md-12.col-sm-12.col-12
            label.label-bg.text-2 Đặc điểm chủ đạo Tổ chức /Cá nhân/Nhóm/ Vùng
          .col-lg-6.col-md-12.col-sm-12.col-12.re-require
            input.input-df(type='text' name='linhvuchoatdong' placeholder="Đặc điểm chủ đạo Tổ chức /Cá nhân/Nhóm/ Vùng")
            span.require *
      .form-group
        .row
          .col-lg-6.col-md-12.col-sm-12.col-12
            label.label-bg.text-3 Hình thức tài trợ mong muốn
          .col-lg-6.col-md-12.col-sm-12.col-12.re-require
            select.custom-select-tt(name="hinhthuctaitro")
              option(value='') Chọn hình thức
              option(value='tien') Tiền
              option(value='hanghoa') Hàng Hóa
              option(value='chiphidichvu') Chi phí dịch vụ
              option(value='thamgiadonghanh') Tham gia đồng hành
              option(value='truyenthong') Truyền thông
              option(value='khac') Ý kiến khác
            span.require *
      .form-group
        .row
          .col-lg-6.col-md-12.col-sm-12.col-12
            label.label-bg.text-1 Tài khoản giao dịch
          .col-lg-6.col-md-12.col-sm-12.col-12
            input.input-df(type='text' name='taikhoangd')
      .form-group
        .row
          .col-lg-6.col-md-12.col-sm-12.col-12
            label.label-bg.text-1 Mã số thuế Tổ chức /Cá nhân
          .col-lg-6.col-md-12.col-sm-12.col-12
            input.input-df(type='text' name='masothue')
      .form-group
        .row
          .col-lg-6.col-md-12.col-sm-12.col-12
            label.label-bg.text-2 Mô tả nhu cầu/ mong muốn nhận tài trợ
          .col-lg-6.col-md-12.col-sm-12.col-12
            input.input-df(type='text' name='tansuat' placeholder="Mô tả nhu cầu/ mong muốn nhận tài trợ")
      .form-group
        .row
          .col-lg-6.col-md-12.col-sm-12.col-12
            label.label-bg.text-1 Khoảng giá trị tài trợ (VNĐ)
          .col-lg-6.col-md-12.col-sm-12.col-12
            select.custom-select-tt(name="giatritaitro")
              option(value='') Chọn giá trị
              option(value='') < 20 Triệu
              option(value='') < 50 Triệu
              option(value='') < 100 Triệu
      .form-group
        .row
          .col-lg-6.col-md-12.col-sm-12.col-12
            label.label-bg.text-2 Tần suất tài trợ
          .col-lg-6.col-md-12.col-sm-12.col-12
            input.input-df(type='text' name='tansuat' placeholder="Nhập tần suất tài trợ")
      .form-group
        .row
          .col-lg-6.col-md-12.col-sm-12.col-12
            label.label-bg.text-2 Giá trị mong muốn khác
          .col-lg-6.col-md-12.col-sm-12.col-12
            input.input-df(type='text' name='mongmuongiatrikhac' placeholder="Nhập giá trị mong muốn khác ")
      .form-group
        .row
          .col-lg-6.col-md-12.col-sm-12.col-12
            label.label-bg.text-3 Tên gói nhận từ thiện
          .col-lg-6.col-md-12.col-sm-12.col-12.re-require
            input.input-df(type='text' name='tengoinhantuthien' placeholder="Nhập tên gói")
            span.require *
      .form-group
        .row
          .col-lg-6.col-md-12.col-sm-12.col-12
            label.label-bg.text-3 Nhu cầu mong đợi
          .col-lg-6.col-md-12.col-sm-12.col-12.re-require
            input.input-df(type='text' name='ynghiamongdoi' placeholder="Nhập nhu cầu mong đợi")
            span.require *
      .form-group
        .row
          .col-lg-6.col-md-12.col-sm-12.col-12
            label.label-bg.text-1 Giá trị ước tính VNĐ
          .col-lg-6.col-md-12.col-sm-12.col-12.re-require
            input.input-df(type='text' name='giatriuoctinh')
            span.require *
      .form-group
        .row
          .col-lg-6.col-md-12.col-sm-12.col-12
            label.label-bg.text-2 Kết quả hướng tới
          .col-lg-6.col-md-12.col-sm-12.col-12.re-require
            input.input-df(type='text' name='nhucau' placeholder="Nhập kết quả hướng tới")
            span.require *
      .form-group
        .row.align-baseline
          .col-lg-6.col-md-12.col-sm-12.col-12
            label.label-bg.text-3 Danh sách đối tượng nhận từ thiện
          .col-lg-6.col-md-12.col-sm-12.col-12
            input.input-df(type='text' name='motachuongtrinh' placeholder="Nhập danh sách đối tượng nhận từ thiện")
            .choose-file
              input(type='file' placeholder="Chọn file gửi" title="Chọn file gửi")
              a(href="#") Chọn file
                img(src="../../../dist/assets/images/traotuthien/icon.png", alt="")
      .form-group
        .row
          .col-lg-6.col-md-12.col-sm-12.col-12
            label.label-bg.text-2 Địa chỉ tiến hành hoạt động từ thiện
          .col-lg-6.col-md-12.col-sm-12.col-12.re-require
            input.input-df(type='text' name='nhucau' placeholder="Nhập Địa chỉ tiến hành hoạt động từ thiện")
            span.require *
      .form-group
        .row.align-baseline
          .col-lg-6.col-md-12.col-sm-12.col-12
            label.label-bg.text-3 Mô tả chương trình thực hiện
          .col-lg-6.col-md-12.col-sm-12.col-12
            input.input-df(type='text' name='motachuongtrinh' placeholder="Mô tả chương trình")
            .choose-file
              input(type='file' placeholder="Chọn file gửi" title="Chọn file gửi")
              a(href="#") Chọn file
                img(src="../../../dist/assets/images/traotuthien/icon.png", alt="")
      .form-group
        .row.align-baseline
          .col-lg-6.col-md-12.col-sm-12.col-12
            label.label-bg.text-3 Ý tưởng thiết kế các ấn phẩm in
          .col-lg-6.col-md-12.col-sm-12.col-12
            input.input-df(type='text' name='ytuongthietke' placeholder="Ý tưởng thiết kế")
            .choose-file
              input(type='file' placeholder="Chọn file gửi" title="Chọn file gửi")
              a(href="#") Chọn file
                img(src="../../../dist/assets/images/traotuthien/icon.png", alt="")
      .form-group
        .row
          .col-lg-6.col-md-12.col-sm-12.col-12
            label.label-bg.text-1 Các tổ chức đồng hành
          .col-lg-6.col-md-12.col-sm-12.col-12
            input.input-df(type='text' name='tochucdonghanh' placeholder="Các tổ chức đồng hành")
      .form-group
        .row
          .col-lg-6.col-md-12.col-sm-12.col-12
            label.label-bg.text-1 Những thông tin khác
          .col-lg-6.col-md-12.col-sm-12.col-12
            input.input-df(type='text' name='cacthongtinkhac' placeholder="Các thông tin khác")
      //- .form-group
      //-   .row
      //-     .col-lg-6.col-md-12.col-sm-12.col-12
      //-       label.label-bg.text-1 Trạng thái
      //-     .col-lg-6.col-md-12.col-sm-12.col-12
      //-       select.custom-select-tt(name="giatritaitro")
      //-         option(value='') Chọn trạng thái
      //-         option(value='') Đã đăng ký
      //-         option(value='') Đã duyệt
      //-         option(value='') Đang sử ý
      //-         option(value='') Đang triển khai
      //-         option(value='') Đã hoàn thành
      //-         option(value='') Đã đóng
    .footer-form
      h1.icon-left
        a.text-left(href='index.html') Quay về trang quản lý
        a.text-right(href='index.html') Tạo gói nhận từ thiện

